*{
    font-family: 'Roboto';
}
body{
    display:flex;
    flex-direction: column;
    margin:0;
    justify-content: space-between;
}
a{
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;

}
.signup{
    background-color: #3882f6;
    padding: 8px;
    color: white;
    border-radius: 15px;
    border: 0px;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 24px;
}
.area-1 .signup{
    flex: none;
}
.area-4 .signup{
    flex:none;
    border: 2px solid  white;
    
}
.header{
    padding-left: 200px;
    padding-right:200px;
    margin: 0;
    background-color: #1F2937;
    display:flex;
    justify-content: space-between;
    align-items: center;
    
}
.header-logo{
    font-size: 24px;
    color: #F9FAF8;
}
.right-links{
    display:flex;
    list-style-type: none;
    vertical-align: center;
    gap: 25px;

}
.area-1{
    padding: 50px;
    padding-left: 200px;
    padding-right:200px;
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}
.placeholder-container{
    display: flex;
    justify-content: flex-end;
    align-items: strech;
    gap: 10px;
    max-height: 500px;;

}
.area-1-left{
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 400px;
    gap: 8px;
    flex-grow: 1;
}
.hero-text{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}
.hero-subtext{
    color: #E5E7EB;
    font-size: 18px;
}

.placeholder{
    max-width: 100%;
    max-height: auto;
    flex: auto;
}
.area-2{
    padding-top: 20px;
    padding-left: 250px;
    padding-right:250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px
}
.area-2 .title{
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}
.container{
    display: flex;
    justify-content: space-around;
    gap: 30px;
}
.image-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 8px;
    text-align: center;
}
.image-container img{
    max-width: 200px;
    max-height: 200px;
    align-self: center;
    max-width: 100%;
    max-height: auto;
    border: 2px solid  blue;
    border-radius: 15%;
}
.area-3{
    background-color: #E5E7EB;
    padding: 100px;
    padding-left: 200px;
    padding-right:200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.quote{
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
}
.speaker-container{
    display: flex;
    justify-content: flex-end;
    font-weight: 900;
    font-size: 24px; 
}
.area-4{
    padding: 100px;
    padding-left: 200px;
    padding-right:200px;
    display: flex;
    justify-content: space-around;
    align-items: strech;
}
.banner{
    flex-grow: 1;
    padding: 100px;
    background-color: #3882f6;
    display: flex;
    color:#F9FAF8;
    justify-content: space-between;
    border-radius: 25px;
}
.banner-bold{
    font-size: 36px;
    font-weight: 500;
}
.banner-text{
    font-size: 20px;
    font-weight: 300;
}
.footer{
    background-color: #1F2937;
    color:#F9FAF8;
    align-items: center;
    justify-content: center;
    padding: 50px;
    padding-left: 200px;
    padding-right:200px;
    display: flex;
}
